* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header.barra {
    background-color: red;
    height: 100px;
    position: fixed;
    right: 0;
    top: 0;
    left: 20%;
}

main.main-content {
    background-color: grey;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

main.main-content aside.sidebar {
    background-color: orange;
    flex-basis: 20%;
    height: calc(100vh - 100px );
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
}

.content {
    position: fixed;
    top: 100px;
    left: 20%;
    width: 80%;
    height: calc(100% - 20%);
    overflow: auto;
}

.main.main-content .content {
    background-color: grey;
    flex-basis: 65%;
    display: flex;
    flex-direction: row;
}

.main.main-content .box {
    background-color: green;
    flex-basis: 10%;
    aspect-ratio: 1 / 1;
}

footer.sbarra-finale {
    background-color: blue;
    height: 100px;
}

.svg-logo {
    height: 50px;
    margin-top: 20px;
}

